<div class="row">
  <div class="col s12 m6">
    <div class="product-info">
      <h3 
        class="header">
        <%= @user.profile.first_name %> | 
        <%= @user.profile.surname %>
      </h3>
      <h6 class="p-text">location: <%= @user.profile.location %></h6>
    </div>
    <div class="links">
      <% if current_user.id == @user.id %>
        <%= link_to 'Edit Profile', edit_profile_path(current_user), class: "btn btn-success" %>
        <%= link_to 'Change password', edit_user_registration_path(current_user), class: "btn btn-success"%>
      <% end %>
    </div>
  </div>
</div>