<h2>Cart</h2>

<div class="alert"><%= flash[:alert] %></div>

<ul>
  <% @cart.each do |listing| %>
    <li>Listing: <%= listing.name %> | Price: <%= number_to_currency(listing.price.to_i) %></li>
    <li><%= link_to "Remove from Cart", destroy_cart_path(listing_id: listing.id), method: :delete, class: "btn btn-success" %></li>
  <% end %>
</ul>

<%= link_to "Buy Now", "/payments/session", id: "stripe", class: "btn btn-success" %>

<%= javascript_pack_tag "stripe" %>