<main class="container">
<h1><%= @profile.first_name %>'s Dashboard</h1>
  <div class="row">
    <div class="col-md-3">
      <div class="card">
        <div class="card-body">
          <div class="card-img">
            <%= image_tag 'https://picsum.photos/200/300' %>
          </div>
          <div class="card-links">
            <%= link_to "Profile", profile_path(@profile.id) %>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-9">
      <table class="table table-bordered">
        <thead class="thead-dark">
          <tr>
            <th>#</th>
            <th>Picture</th>
            <th>Item</th>
            <th>Price</th>
            <th>Edit</th>
            <th>Delete</th>
          </tr>
        </thead>
        <tbody>
            <% @listings.each_with_index do |listing, index| %>
              <tr>
                <td><%= index+= 1 %></td>
                <td><%= link_to image_tag(listing.picture, class:"img-thumbnail"), listing_path(listing.id) %></td>
                <td><%= listing.name %></td>
                <td><%= number_to_currency(listing.price) %></td>
                <td><%= link_to 'Edit', edit_listing_path(listing.id), class: "card-link" %></td>
                <td><%= link_to 'Delete', listing_path(listing.id), method: :delete, class: "card-link" %></td>
              </tr>
            <% end %>
        </tbody>
      </table>
    </div>
  </div>
</main>